---
title: Resumos
layout: default
---

{% include header.html %}

<div class="wrapper">
  <div class="main">
  
    <div class="abertura">
      <div class="logo">
        <a href="{{ site.baseurl }}"><h1 style="color: black; font-size: 3em;">Medicina <br> Integral de <br> Mosca</h1></a>
      </div>
      
      <div class="intro">
        <h2>Bem vindo!</h2>
        <p>Este site é destinado a abrigar resumos sobre disciplinas da área de saúde. O site está hospedado no <a class="github" href="https://github.com/canalionico/resumos"><i class="fab fa-github"></i> GitHub</a> e qualquer um pode sugerir edições ou enviar novos resumos. Em breve farei um tutorial.</p>
        <p>Também possuo um blog pessoal: <a href="https://mosquildo.com.br">mosquildo.com.br</a> <br>
        Boa parte dos resumos ainda estão incompletos!</p>
      </div>
    </div>
  

  <h2>Sumário</h2>
    <div class="sumario">
      <a id="ginecologia" href="{{ '/sumario/ginecologia' | relative_url }}">Ginecologia</a>
      <a id="obstetricia" href="{{ '/sumario/obstetricia' | relative_url }}">Obstetrícia</a>
      <a id="mastologia" href="{{ '/sumario/mastologia' | relative_url }}">Mastologia</a>
      <a id="neonatologia" href="{{ '/sumario/neonatologia' | relative_url }}">Neonatologia</a>
      <a id="urologia" href="{{ '/sumario/urologia' | relative_url }}">Urologia</a>
      <a id="nefrologia" href="{{ '/sumario/nefrologia' | relative_url }}">Nefrologia</a>
      <a id="infectologia" href="{{ '/sumario/infectologia' | relative_url }}">Infectologia</a>
      <a id="gastroenterologia" href="{{ '/sumario/gastroenterologia' | relative_url }}">Gastroenterologia</a>
      <a id="traumatologia" href="{{ '/sumario/traumatologia' | relative_url }}">Traumatologia</a>
      <a id="cirurgia" href="{{ '/sumario/cirurgia' | relative_url }}">Cirurgia</a>
      <a id="pediatria" href="{{ '/sumario/pediatria' | relative_url }}">Pediatria</a>
      <a id="pneumologia" href="{{ '/sumario/pneumologia' | relative_url }}">Pneumologia</a>
      <a id="cardiologia" href="{{ '/sumario/cardiologia' | relative_url }}">Cardiologia</a>
      <a id="ecg" href="{{ '/sumario/ecg' | relative_url }}">Eletrocardiograma</a>
      <a id="hematologia" href="{{ '/sumario/hematologia' | relative_url }}">Hematologia</a>
    </div>




<!--
  <button id="obstetricia" class="collapsible">Obstetrícia</button>
  <div class="content">
    <div class="post-list">
      <ol>
        {% for post in site.categories.obstetricia reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <button id="mastologia" class="collapsible">Mastologia</button>
  <div class="content">
    <div class="post-list">
      <ol>
        {% for post in site.categories.mastologia reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <button id="neonatologia" class="collapsible">Neonatologia</button>
  <div class="content">
    <div class="post-list">
      <ol>
      {% for post in site.categories.neonatologia reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <button id="urologia" class="collapsible">Urologia</button>
  <div class="content">
    <div class="post-list">
      <ol>
        {% for post in site.categories.urologia reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <button id="nefrologia" class="collapsible">Nefrologia </button>
  <div class="content">
    <div class="post-list">
      <ol>
        {% for post in site.categories.nefrologia reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <button id="infectologia" class="collapsible">Infectologia</button>
  <div class="content">
    <div class="post-list">
      <ol>
        {% for post in site.categories.infectologia reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>


  <button id="gastroenterologia" class="collapsible">Gastroenterologia</button>
  <div class="content">
    <div class="post-list">
      <ol>
        {% for post in site.categories.gastroenterologia reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <button id="trauma" class="collapsible">Traumatologia</button>
  <div class="content">
    <div class="post-list">
      <ol>
        {% for post in site.categories.trauma reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <button id="cirurgia" class="collapsible">Cirurgia</button>
  <div class="content">
    <div class="post-list">
      <ol>
        {% for post in site.categories.cirurgia reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <button id="pediatria" class="collapsible">Pediatria</button>
  <div class="content">
    <div class="post-list">
      <ol>
        {% for post in site.categories.pediatria reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>


  <button id="cardiologia" class="collapsible">Cardiologia</button>
  <div class="content">
    <div class="post-list">
      <ol>
        {% for post in site.categories.cardiologia reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>


  <button id="pneumologia" class="collapsible">Pneumologia</button>
  <div class="content">
    <div class="post-list">
      <ol>
        {% for post in site.categories.pneumologia reversed %}
        <li class="post-list-li">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
-->


<!-- Deixar salvo aqui pra caso dê merda
    <div class="disciplinas-list">
      <ol class="disciplinas">
        <li><a id="obstetricia" href="/obstetricia">Obstetrícia</a></li>
        <li><a id="ginecologia" href="/ginecologia">Ginecologia</a></li>
        <li><a id="mastologia" href="/mastologia">Mastologia</a></li>
        <li><a id="neonatologia" href="/neonatologia">Neonatologia</a></li>
        <li><a id="urologia" href="/urologia">Urologia</a></li>
        <li><a id="nefrologia" href="/nefrologia">Nefrologia</a></li>
        <li><a id="infectologia" href="/infectologia">Infectologia</a></li>
      </ol>
    </div>
  </div>

-->

<br>

  <h2>Deseja contribuir com o projeto?</h2>
  <p>Considere fazer uma doação para que o projeto possa continuar! Qualquer valor simbólico já ajuda a manter o site e a determinação em continuar:</p>
  <div class="pag-seguro">
    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
    <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
    <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
    <input type="hidden" name="currency" value="BRL" />
    <input type="hidden" name="receiverEmail" value="filipemosca@gmail.com" />
    <input type="hidden" name="iot" value="button" />
    <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/209x48-doar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
    </form>
    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
  </div>
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
