/* Padding order: top right bottom left */
.wrapper {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.wrapper-footer {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
body {
  margin: 0 0 0 0;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  text-align: left;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
@font-face {
  font-family: "LS";
  src: url('/assets/fonts/liberation_serif/lsregular.ttf');
}


.back {
  color: white;
}


.alert {
  padding: 16px;
  border: 1px #6f42c1 solid !important;;
  background-color: #f5f0ff !important;
  border-radius: 3px;
  display: block;
}
.alert-purple {
  padding: 16px;
  border: 1px #6f42c1 solid !important;;
  background-color: #f5f0ff !important;
  border-radius: 3px;
  display: block;
}



.aviso-red {border-color: red;}
.aviso-yellow {border-color: yellow}
.aviso-green {border-color: green}

.red {color: red}
.orange {color: orange}
.green {color: green}
.blue {color: blue}
.red, .orange, .green, .blue {
  font-weight: bold;
}

/* Header */
#logo {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  display: block;
}

.abertura {
  display: block;
}
.intro, .logo {
  flex: 1;
}
.intro {
  text-align: right;
}


/* Barra de navegaçao */
.nav-site {
  line-height: 1em;
  font-size: 0.9em;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  a {
    text-decoration: none;
    background-color: #f3f3f3 !important;
    border: 1px solid #888888 !important;
    padding: 4px 6px 4px 6px;
    border-radius: 0.5rem;
    color: white;
    display: inline-block;
    margin-bottom: 0;
  }
  a:hover {
    background-color: #008000;
  }
}
.nav-posts {
  padding-top: 0px;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
  a {
    text-decoration: none;
    font-size: 16px;
    background-color: #f3f3f3 !important;
    border: 1px solid #888888 !important;
    border-top: none;
    padding: 4px 6px 4px 6px;
    border-radius: 0 0 0.5rem 0.5rem;
    color: blue;
    display: inline-block;
    margin-bottom: 10px;
  }
  a:hover {
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
}
.current {
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.meu-svg {
  padding-right: 5px;
}


/* conteúdo principal */
//Botão Editar
.botao {
  text-decoration: none;
  font-size: 14px;
  background-color: #727272;
  padding: 4px 6px 4px 6px;
  border-radius: 0.5rem;
  color: white;
  display: inline-block;
}
.botao:hover {
  background-color: #008000;
}
.botao:active {
	position:relative;
	top: 1px;
}

// Sumário
.sumario a {
  background-color: #777;
  display: inline-block;
  color: white;
  padding: 4px;
  width: 100%;
  border-radius: 0.5rem;
  text-align: left;
  outline: none;
  font-size: 26px;
  padding: 2px;
  padding-left: 5px;
  margin-top: 5px;
  box-shadow: 1px 2px #888888;
}
.sumario a:hover {
  box-shadow: 1px 2px black;
}

// // collapsible
// .collapsible {
//   background-color: #777;
//   color: white;
//   cursor: pointer;
//   padding: 4px;
//   width: 100%;
//   border-radius: 0.5rem;
//   text-align: left;
//   outline: none;
//   font-size: 22px;
// }
// .active, .collapsible:hover {
//   background-color: #555;
// }
// .content {
//   padding: 5px 6px 5px;
//   display: none;
//   overflow: hidden;
//   background-color: #f1f1f1;
// }
// // End collapsible

// Doação
.pag-seguro {
  margin: 0 auto;
  max-width: 209px;
}
// Acaba doação

//botão ir ao topo teste
#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  text-decoration: none;
  font-size: 16px;
  background-color: #008000;
  padding: 4px 6px 4px 6px;
  border-radius: 0.5rem;
  color: white;
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Sumário 📑";
    font-weight: bold;
    font-size: 1.2rem;
}
#markdown-toc {
  max-width: 300px;
  padding: 1.5em;
  // background-color: rgb(236, 236, 236);
  padding-left: 2rem;
  margin-left: 1.5rem;
  display: inline-block;
  border-radius: 10px;
  li {
  margin-block-start: 0;
  font-size: 1rem;
  }
  a:hover {
    text-decoration: underline;
  }
}
.main {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.featured-image {
  object-fit: cover;
  max-width: 320px;
  height: 210px;
  width: 100%;
  margin: 5px auto 5px;
  border-radius: 1rem;
}
.post-info, .post-page-info {
  font-size: 16px;
  color: gray;
  margin: 5px auto;
  width: 100%;
  max-width: 320px;
  text-align: center;
  a {
    font-size: 16px;
  }
}
.post-title {
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
}
p, li {
  line-height: 1.5em;
}
a {
  word-break: break-word;
  text-decoration: none;
  color: blue;
  :visited {color: purple;}
}
ol li {
  margin-block-start: 0.2em;
}
ul li {
  margin-block-start: 0.2em;
}
::selection {
  background: yellow; /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: yellow; /* Gecko Browsers */
  color: black;
}
.footnotes p {
  text-align: left;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color:#f5f5f5;}
.box {
  background-color: #ebebeb;
  padding: 1px 10px 1px 10px;
  border-radius: 1rem;
}
details {
  summary {
    cursor: pointer;
  }
  margin-bottom: 0.4rem;
}


.abertura {
  color: gray;
  a {
    text-decoration: none;
    color: blue;
  }
  a:hover {
    color: black;
  }
}
.post-list {
  margin-top: 50px;
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 0 0;
  }
  li h2 {
    font-size: 120%;
    margin: 5px 0 0 0;
    margin-bottom: 15px;
    line-height: 1.6rem;
  }
  li h2 a {
    text-decoration: none;
    color: black;
  }
  li h2 a:hover {
    color: blue;
  }
  li h2 a:hover:visited {
    color: purple;
  }
}
.post-list-li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 1em;

  h2 {
  border-bottom: none;
  }
}
.disciplinas-list {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.disciplinas {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  display: inline-block;
  li {
    display: inline-block;
    margin: 5px 2px 0 0;
  }
  li a {
    text-decoration: none;
    background-color: #727272;
    border-radius: 0.5rem;
    padding: 4px 6px 4px 6px;
    color: white;
  }
  li a:hover {
    background-color: #727272 !important;
  }
}


#obstetricia {background-color: rgb(141, 0, 141)}
#ginecologia {background-color: rgb(224, 0, 224)}
#mastologia {background-color: Darkorchid}
#neonatologia {background-color:green}
#cirurgia {background-color:darkgreen}
#urologia {background-color:rgb(235, 113, 0)}
#traumatologia {background-color:rgb(211, 127, 0)}
#nefrologia {background-color:goldenrod}
#gastroenterologia {background-color:brown}
#infectologia {background-color:rgb(48, 48, 165)}
#pediatria {background-color:blue}
#pneumologia {background-color:rgb(0, 132, 255)}
#cardiologia {background-color:rgb(92, 1, 1)}
#hematologia {background-color:rgb(175, 0, 0)}

article {
  color: rgb(0, 0, 0);
  h1 {
    font-size: 2em;
    text-align: left;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.6em;
    margin-bottom: 0;
  }
  h3 {
    font-size: 1.4em;
    margin-bottom: 0;
  }
  h4 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  p {
    margin-top: 10px;
    margin-bottom: 16px;
  }
  a {
    text-decoration: underline;
  }
}

// Prevent Superscripts and Subscripts from Affecting Line-Height:
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}



pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}
pre, code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}
code {
  padding: 1px 5px;
  padding-right: 5px;
  padding-left: 5px;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
blockquote {
  color: rgb(59, 59, 59);
  font-size: 85%;
}
img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mapa {
  max-width: 100%;
  box-shadow: none;
}
.no-radius {
  border-radius: 0;
  box-shadow: none;
}
#cc {
  margin-top: 0;
  margin-bottom: 0;
}
figcaption {
  font-size: 15px;
  padding: 0;
  margin-top: -26px;
  text-align: center;
}
figure {
  max-width: 100%;
}
.caixa {
  background-color: #e2e1e8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 10px;
}
.caixa-title {
  background-color: #241c69;
  color: white;
  padding: 5px 5px 5px 10px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footnote {
  color: #0000EE;
  :visited {
    color: #551A8B;
  }
}
a.footnote:before {
  content: "[";
 }
a.footnote:after {
  content: "]";
}


/* footer */
.coisas {
  margin: 0 auto;
  font-size: 16px;
  color: gray;
  display: inline;
  text-align: center;
  margin-bottom: 0;
  p {
    margin-bottom: 0;
  }
}
.license {
  margin-bottom: 1px;
  p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: gray;
    a {
      font-size: 14px;
    }
  }
}
#licenca {
  margin-top: 0;
  margin-bottom: 0;
}
.menu {
  li {
    margin-bottom: 5px;
    line-height: 1em;
  }
  a {
    text-decoration: none;
    color: #2a7ae2;
    font-size: 16px;
  }
  a:hover {
    color: black;
  }
}
#creditos {
  color: gray;
  font-size: 16px;
}
.svg-icon {
  height: 16px;
  padding-right: 5px;
  fill: #828282;
}
.svg-nav {
  fill: blue;
  padding-right: 5px;
  height: 12px;
}

/* Para tablet */
@media screen and (min-width: 600px) {
 .post-info, .post-page-info {
   font-size: 16px;
   color: gray;
   margin: 1px auto;
   width: 100%;
   max-width: 800px;
 }
}

/* Aqui é pra computador */
@media only screen and (min-width: 700px) {
  #markdown-toc {
    float: right;
  }
  .abertura {
    display: flex;
  }
}


/* Aqui é pra grande computador */
@media only screen and (min-width: 1150px) {
  #markdown-toc::-webkit-scrollbar {
    display: none;
  }
  #markdown-toc {
    // float: right;
    position: fixed;
    top: 0;
    right: 100px;
    margin-top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 80%;
    max-width: 240px;
    font-size: 80%;
    li {
      margin-left: 0;
    }
    ul {
      padding-left: 15px;
    }
  }
  .wrapper {
    margin-right: 400px;
  }
  .abertura {
    display: flex;
  }
}
