<!--
Criado por Filipe Mosca
Acesse meu site: https://canalionico.com.br
Contato: filipemosca@canalionico.com.br

  -. (#)(#) .-
   '\.';;'./'
.-\.'  ;;  './-.
  ;    ;;    ;
  ;   .''.   ;
   '''    '''
-->
<!doctype html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript">
      navigator.serviceWorker && navigator.serviceWorker.register('./sw.js').then(function(registration) {
      console.log('Excellent, registered with scope: ', registration.scope);
    });
    </script>
    -->

    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js')
          .then(function () {
            console.log('service worker registered');
          })
          .catch(function () {
            console.warn('service worker failed');
          });
      }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58629913-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-58629913-6');
    </script>

    <meta name="theme-color" content="#008000">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baskervville|Cormorant+Garamond|EB+Garamond|Libre+Baskerville|PT+Serif|Source+Serif+Pro|Vollkorn&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Domine&display=swap" rel="stylesheet">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {{ content }}
    {% include footer.html %}
  </body>
</html>
