---
layout: default
---
{% include nav-posts.html %}

<div class="wrapper">
  <div class="main">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-page-info">
      <em>por <a href="https://twitter.com/{{ page.author }}">Filipe Mosca</a><br>
      Última revisão: {{ page.revisado }} <br>

      filipemosca@disroot.org <br>

      <!-- {% if page.comment %}
        <i class="picol_notes_edit"></i>{{ page.comment }}
      {% endif %}  -->
  </em>
    </p>

    <article>
      {{ content }}
      <a id="myBtn" href="#markdown-toc"><i class="picol_list"></i><i class="picol_arrow_full_up"></i></a>
    </article>
  </div>
</div>
