---
layout: default
---
{% include nav-posts.html %}

<div class="wrapper">
  <div class="main">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-page-info">
      <em>por <a href="https://twitter.com/{{ page.author }}">Filipe Mosca</a><br>
      Publicado em {{ page.date | date_to_string }} <br>
      Última revisão: {{ page.revisado }} <br>
      filipemosca@disroot.org</p></em>
    <article>
      {{ content }}
      <a id="myBtn" href="#markdown-toc"><i class="fa fa-sort-amount-up"></i>Sumário</a>
    </article>
  </div>
</div>
